.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.app__left {
  flex: 0.9;
}

.MuiInputBase-formControl {
  border: 1px solid gray;
}

.MuiInputBase-formControl > .MuiOutlinedInput-input {
  color: whitesmoke;
}

.app__header-logo {
  padding: 10px;
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.app__header-logo > img {
  width: 80px;
  height: 80px;
  margin-right: 5px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 680px) {
  .app {
    flex-direction: column;
  }
}
