.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.app__right {
  /* padding: 0.8rem; */
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__right > .MuiCardContent-root > h3 {
  margin-bottom: 30px;
}

.app__right > .MuiCardContent-root:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.app__left {
  flex: 0.9;
}

.MuiInputBase-formControl {
  border: 1px solid gray;
}

.MuiInputBase-formControl > .MuiOutlinedInput-input {
  color: whitesmoke;
}

.app__header-logo {
  padding: 10px;
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.app__header-logo > img {
  width: 80px;
  height: 80px;
  margin-right: 5px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  border-top: 1px solid gray;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__left {
  flex: 1;
  margin-left: 40px;
  color: whitesmoke;
}

.footer__right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: whitesmoke;
}

.footer__right > a {
  color: whitesmoke;
}

@media screen and (max-width: 780px) {
  .app {
    flex-direction: column;
  }
}
