.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.map .leaflet-container {
  height: 100%;
}

.map > button {
  width: 100%;
  margin-top: 12px;
}

.oncircle {
  background-color: rgba(250, 0, 0, 0.747);
  color: white;
  padding: 2px;
  border-radius: 5px;
  width: 100%;
}

.offcircle {
  background-color: gray;
  color: white;
  padding: 2px;
  border-radius: 5px;
  width: 100%;
}

.info-flag {
  width: 100%;
  height: 80px;
  background-size: cover;
  border-radius: 8px;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-cases,
.info-recovered,
.info-deaths {
  margin-top: 2px;
}
